<h1>
  <%= @cats.length %>
  Cats with Cash
</h1>
<br/>
<div class="col-md-2">
  <h3>
    Filter
  </h3>
  <div class="filters">
    <div class="button btn btn-default" id="clear_filter">
      Clear Filters
    </div>
    <div class="button btn btn-default" id="legacy_filter">
      Legacy Donor
    </div>
    <div class="button btn btn-default" id="kittens_filter">
      Has Kittens
    </div>
    <div class="button btn btn-default" id="largeDonor_filter">
      Large Donors
    </div>
    <div class="button btn btn-default" id="notDonated_filter">
      Have not donated
    </div>
  </div>
  <h3>
    Sort
  </h3>
  <div class="sorts">
    <div class="button btn btn-default" id="clear_sort">
      Clear Sort
    </div>
    <div class="button btn btn-default" id="netWorth_sort">
      Net Worth
    </div>
    <div class="button btn btn-default" id="donations_sort">
      Donations
    </div>
  </div>
</div>
<div class="col-md-10">
  <div id="cards">
    <% @cats.each do |cat| %>
      <div
          data-donations="<%= cat[:donations] %>"
          data-networth="<%= cat[:networth] %>"
          data-legacy="<%= if cat[:legacy]
                             "yes"
                             else "no"
                            end %>"
          id="donor<%=cat[:donorID]%>"
          class=" card <%= if cat[:kittens]
                       "has_kittens"
                    else  "no_kittens"
                    end%>"
        >
        <img class="cat" height="<%= cat[:height] %>" src="<%= cat[:img] %>"/>
        <p class="name">
          <%= cat[:name] %>
        </p>
        <p class="stats">
          <span class="hidden" class="legacy<% puts cat[:donorID] %>">yes</span>
          Donations
          $
          <%= separate_comma(cat[:donations]) %>
          <br/>
          Net Worth
          $
          <%= separate_comma(cat[:networth]) %>
        </p>
        <p class="actions">
          <div class="btn btn-default glyphicon glyphicon-plane"
            onclick="order_tickets<%=cat[:donorID] %>()" id="order_tickets">
            <script>
              function order_tickets<%=cat[:donorID] %>(){
                alert("Your airplane to visit <%= cat[:name] %> is pulling up shortly")
              }
            </script>
            <div class="hidden"><%=cat[:donorID] %></div>
          </div>
          <div  class="btn btn-default glyphicon glyphicon-phone-alt"
                onclick="call_them<%=cat[:donorID] %>()"
                id="call_them">
            <script>
              function call_them<%=cat[:donorID] %>(){
                alert("Pick up your phone, <%= cat[:name] %> is calling.")
              }
            </script>
            <div class="hidden"><%=cat[:donorID] %></div>
          </div>
          <div  class="btn btn-default glyphicon glyphicon-gift send_gift"
                id="send_gift<%=cat[:donorID] %>">
            <div class="hidden"><%=cat[:name] %></div>
          </div>
          <div  class="btn btn-default glyphicon glyphicon-send"
                onclick="send_email<%=cat[:donorID] %>()"
                id="send_email">
            <script>
              function send_email<%=cat[:donorID] %>(){
                alert("Your perfectly worded email will be read by <%= cat[:name] %> shortly.")
              }
            </script>
          </div>
          <div  class="btn btn-default glyphicon glyphicon-cutlery buy_lunch"
                onclick="buy_lunch<%=cat[:donorID] %>()" id="buy_lunch">
            <script>
              function buy_lunch<%=cat[:donorID] %>(){
                $.ajax({
                  url: "/work",
                  type: "POST",
                  data: { action: "buy_lunch", donor: "<%=cat[:donorID] %>" },
                  async: false,
                  success: function(response){
                    alert(response)
                  }
                })
              }
            </script>
            <div class="hidden"><%=cat[:donorID] %></div>
          </div>
        </p>
      </div>
    <% end %>
  </div>
</div>